@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

body button {
  outline: 0;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

body input {
  outline: 0;
  border: 0;
  padding: 10px;
}

body .mainbox {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.911);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/android-chrome-192x192.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
}

body .mainbox .option {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .mainbox .option h1 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

body .mainbox .option h1 span {
  font-size: 4rem;
  color: #00c853;
  font-family: "Langar", cursive;
}

body .mainbox .option .btnbox {
  height: 100%;
  margin-top: 19px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .mainbox .option .btnbox .jc,
body .mainbox .option .btnbox .sc {
  width: 18%;
  margin: 0 10px;
  padding: 15px 19px;
  font-size: 14px;
}

body .mainbox .option .btnbox .sc {
  background-color: #00c853;
  color: #fff;
}

body .mainbox .option .btnbox .sc:hover {
  background-color: #00ac48;
}

body .mainbox .option .btnbox .jc {
  background-color: #0050c8;
  color: #fff;
}

body .mainbox .option .btnbox .jc:hover {
  background-color: #0044aa;
}

body .mainboxsc {
  height: 100%;
  width: 100%;
  background-color: #00c853;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .mainboxsc #chatnameA {
  display: none;
}

body .mainboxsc .nameboxcontainer {
  height: 13rem;
  width: 30%;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .mainboxsc .nameboxcontainer h4 {
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px solid #0050c8;
  color: #0050c8;
  font-weight: 800;
}

body .mainboxsc .nameboxcontainer input {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

body .mainboxsc .nameboxcontainer span {
  color: #870199;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px;
}

body .mainboxsc .nameboxcontainer button {
  background-color: #0050c8;
  color: #fff;
}

body .mainboxsc .nameboxcontainer button:hover {
  background-color: #0044aa;
}

body .mainboxjc {
  height: 100%;
  width: 100%;
  background-color: #0050c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .mainboxjc #chatnameA {
  display: none;
}

body .mainboxjc .nameboxcontainer {
  height: 13rem;
  width: 30%;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .mainboxjc .nameboxcontainer h4 {
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px solid #0050c8;
  color: #0050c8;
  font-weight: 800;
}

body .mainboxjc .nameboxcontainer input {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

body .mainboxjc .nameboxcontainer button {
  background-color: #0050c8;
  color: #fff;
}

body .mainboxjc .nameboxcontainer button:hover {
  background-color: #0044aa;
}

body .chatground {
  height: 100vh;
  width: 100vw;
  background-color: rgba(231, 228, 228, 0.3);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .chatground .chatcontainer {
  height: 95%;
  max-height: 35rem;
  width: 95%;
  max-width: 35rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

body .chatground .chatcontainer .header {
  background-color: #ebebeb;
  height: 10%;
  max-height: 5rem;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .chatground .chatcontainer .header .menu {
  height: 100%;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .chatground .chatcontainer .header .menu span {
  border: 1px solid black;
  width: 100%;
  height: 1px;
  background-color: black;
}

body .chatground .chatcontainer .header .menu .new1 {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(38deg);
          transform: rotate(38deg);
}

body .chatground .chatcontainer .header .menu .new2 {
  opacity: 0;
}

body .chatground .chatcontainer .header .menu .new3 {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
}

body .chatground .chatcontainer .mainmenu {
  width: 10rem;
  background-color: white;
  position: absolute;
  right: 2%;
  top: 4rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  padding: 10px;
}

body .chatground .chatcontainer .mainmenu h3,
body .chatground .chatcontainer .mainmenu h1 {
  text-align: center;
  margin: 5px;
}

body .chatground .chatcontainer .mainmenu h3 {
  color: #0050c8;
}

body .chatground .chatcontainer .mainmenu button {
  margin: 10px 0;
}

body .chatground .chatcontainer .mainmenu .leave,
body .chatground .chatcontainer .mainmenu .close {
  background-color: red;
  color: #fff;
}

body .chatground .chatcontainer .mainmenu .leave:hover,
body .chatground .chatcontainer .mainmenu .close:hover {
  background-color: #dd0000;
}

body .chatground .chatcontainer .mainmenunew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .chatground .chatcontainer .messagearea {
  width: 100%;
  height: 80%;
  max-height: 35rem;
  padding: 10px;
  overflow-y: auto;
  background-color: #d6d6d6;
}

body .chatground .chatcontainer .messagearea::-webkit-scrollbar {
  display: none;
}

body .chatground .chatcontainer .messagearea .messsage {
  max-width: 70%;
  padding: 9px;
  margin: 10px 0;
}

body .chatground .chatcontainer .messagearea .incoming {
  border-radius: 0 4px 4px 4px;
  margin-right: auto;
  background: #0d33df;
  color: rgba(255, 255, 255, 0.95);
}

body .chatground .chatcontainer .messagearea .outgoing {
  border-radius: 4px 0 4px 4px;
  margin-left: auto;
  background: #696a6b;
  color: rgba(255, 255, 255, 0.95);
}

body .chatground .chatcontainer .type {
  width: 100%;
  height: 10%;
  max-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .chatground .chatcontainer .type input {
  height: 100%;
  width: 80%;
}

body .chatground .chatcontainer .type button {
  width: 20%;
  background-color: #00aa47;
  color: #fff;
  font-weight: 700;
}

@media only screen and (max-width: 1138px) {
  body .mainboxsc .nameboxcontainer,
  body .mainboxjc .nameboxcontainer {
    width: 35%;
  }
}

@media only screen and (max-width: 920px) {
  body .mainbox .option .btnbox .jc,
  body .mainbox .option .btnbox .sc {
    width: 25%;
  }
  body .mainboxsc .nameboxcontainer,
  body .mainboxjc .nameboxcontainer {
    width: 40%;
  }
}

@media only screen and (max-width: 740px) {
  body .mainboxsc .nameboxcontainer,
  body .mainboxjc .nameboxcontainer {
    width: 50%;
  }
}

@media only screen and (max-width: 675px) {
  body .mainbox .option .btnbox .jc,
  body .mainbox .option .btnbox .sc {
    width: 32%;
  }
  body .mainboxsc .nameboxcontainer,
  body .mainboxjc .nameboxcontainer {
    width: 60%;
  }
}

@media only screen and (max-width: 514px) {
  body .mainbox .option .btnbox .jc,
  body .mainbox .option .btnbox .sc {
    width: 40%;
  }
}

@media only screen and (max-width: 508px) {
  body .mainbox .option h1 {
    font-size: 2rem;
  }
  body .mainbox .option h1 span {
    font-size: 3rem;
  }
  body .mainboxsc .nameboxcontainer,
  body .mainboxjc .nameboxcontainer {
    width: 80%;
  }
}

@media only screen and (max-width: 355px) {
  body .mainbox .option h1 {
    font-size: 1.7rem;
  }
  body .mainbox .option h1 span {
    font-size: 2.3rem;
  }
  body .mainbox .option .btnbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .mainbox .option .btnbox .jc,
  body .mainbox .option .btnbox .sc {
    width: 80%;
    font-size: 12px;
    margin: 10px;
  }
  body .mainboxsc .nameboxcontainr,
  body .mainboxjc .nameboxcontainr {
    width: 90%;
  }
}

@media only screen and (max-width: 286px) {
  body .mainbox .option h1 {
    font-size: 1.2rem;
  }
  body .mainbox .option h1 span {
    font-size: 2rem;
  }
  body .mainbox .option .btnbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .mainbox .option .btnbox .jc,
  body .mainbox .option .btnbox .sc {
    width: 90%;
    font-size: 10px;
    margin: 10px;
  }
}
/*# sourceMappingURL=style.css.map */