@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  button {
    outline: 0;
    border: 0;
    padding: 10px;
    cursor: pointer;
  }
  input {
    outline: 0;
    border: 0;
    padding: 10px;
  }
  .mainbox {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.911);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/android-chrome-192x192.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    .option {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 3rem;
        color: rgba($color: #fff, $alpha: 0.9);
        text-align: center;
        span {
          font-size: 4rem;
          color: #00c853;
          font-family: "Langar", cursive;
        }
      }
      .btnbox {
        height: 100%;
        margin-top: 19px;
        width: 100%;
        display: flex;
        justify-content: center;
        .jc,
        .sc {
          width: 18%;
          margin: 0 10px;
          padding: 15px 19px;
          font-size: 14px;
        }
        .sc {
          background-color: #00c853;
          color: #fff;
          &:hover {
            background-color: #00ac48;
          }
        }
        .jc {
          background-color: #0050c8;
          color: #fff;
          &:hover {
            background-color: #0044aa;
          }
        }
      }
    }
  }
  .mainboxsc {
    height: 100%;
    width: 100%;
    background-color: #00c853;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #chatnameA,
    #namecontA {
      display: none;
    }
    .nameboxcontainer {
      height: 13rem;
      width: 30%;
      background-color: #fff;
      border-radius: 4px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h4 {
        font-size: 20px;
        padding: 5px;
        border-bottom: 1px solid #0050c8;
        color: #0050c8;
        font-weight: 800;
      }
      input {
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      span {
        color: #870199;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 10px;
      }
      button {
        background-color: #0050c8;
        color: #fff;
        &:hover {
          background-color: #0044aa;
        }
      }
    }
  }
  .mainboxjc {
    height: 100%;
    width: 100%;
    background-color: #0050c8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #chatnameA {
      display: none;
    }
    .nameboxcontainer {
      height: 13rem;
      width: 30%;
      background-color: #fff;
      border-radius: 4px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h4 {
        font-size: 20px;
        padding: 5px;
        border-bottom: 1px solid #0050c8;
        color: #0050c8;
        font-weight: 800;
      }
      input {
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      button {
        background-color: #0050c8;
        color: #fff;
        &:hover {
          background-color: #0044aa;
        }
      }
    }
  }
  .chatground {
    height: 100vh;
    width: 100vw;
    background-color: rgba(231, 228, 228, 0.3);
    display: grid;
    place-items: center;
    .chatcontainer {
      height: 95%;
      max-height: 35rem;
      width: 95%;
      max-width: 35rem;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
      position: relative;
      .header {
        background-color: rgb(235, 235, 235);
        height: 10%;
        max-height: 5rem;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .menu {
          height: 100%;
          width: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          span {
            border: 1px solid black;
            width: 100%;
            height: 1px;
            background-color: black;
          }
          .new1 {
            transform-origin: left;
            transform: rotate(38deg);
          }
          .new2 {
            opacity: 0;
          }
          .new3 {
            transform-origin: left;
            transform: rotate(-38deg);
          }
        }
      }
      .mainmenu {
        width: 10rem;
        background-color: rgb(255, 255, 255);
        position: absolute;
        right: 2%;
        top: 4rem;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
        display: flex;
        flex-direction: column;
        display: none;
        padding: 10px;
        h3,
        h1 {
          text-align: center;
          margin: 5px;
        }
        h3 {
          color: #0050c8;
        }
        button {
          margin: 10px 0;
        }
        .leave,
        .close {
          background-color: red;
          color: #fff;
          &:hover {
            background-color: rgb(221, 0, 0);
          }
        }
      }
      .mainmenunew {
        display: flex;
      }
      .messagearea {
        width: 100%;
        height: 80%;
        max-height: 35rem;
        padding: 10px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background-color: rgb(214, 214, 214);
        &::-webkit-scrollbar {
          display: none;
        }
        .messsage {
          max-width: 70%;
          padding: 9px;
          margin: 10px 0;
        }
        .incoming {
          border-radius: 0 4px 4px 4px;
          margin-right: auto;
          background: #0d33df;
          color: rgba($color: #fff, $alpha: 0.95);
        }
        .outgoing {
          border-radius: 4px 0 4px 4px;
          margin-left: auto;
          background: #696a6b;
          color: rgba($color: #fff, $alpha: 0.95);
        }
      }
      .type {
        width: 100%;
        height: 10%;
        max-height: 5rem;
        display: flex;
        input {
          height: 100%;
          width: 80%;
        }
        button {
          width: 20%;
          background-color: #00aa47;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
}
@media only screen and (max-width: 1138px) {
  body {
    .mainboxsc,
    .mainboxjc {
      .nameboxcontainer {
        width: 35%;
      }
    }
  }
}
@media only screen and (max-width: 920px) {
  body {
    .mainbox {
      .option {
        .btnbox {
          .jc,
          .sc {
            width: 25%;
          }
        }
      }
    }
    .mainboxsc,
    .mainboxjc {
      .nameboxcontainer {
        width: 40%;
      }
    }
  }
}
@media only screen and (max-width: 740px) {
  body {
    .mainboxsc,
    .mainboxjc {
      .nameboxcontainer {
        width: 50%;
      }
    }
  }
}
@media only screen and (max-width: 675px) {
  body {
    .mainbox {
      .option {
        .btnbox {
          .jc,
          .sc {
            width: 32%;
          }
        }
      }
    }
    .mainboxsc,
    .mainboxjc {
      .nameboxcontainer {
        width: 60%;
      }
    }
  }
}
@media only screen and (max-width: 514px) {
  body {
    .mainbox {
      .option {
        .btnbox {
          .jc,
          .sc {
            width: 40%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 508px) {
  body {
    .mainbox {
      .option {
        h1 {
          font-size: 2rem;
          span {
            font-size: 3rem;
          }
        }
      }
    }
    .mainboxsc,
    .mainboxjc {
      .nameboxcontainer {
        width: 80%;
      }
    }
  }
}
@media only screen and (max-width: 355px) {
  body {
    .mainbox {
      .option {
        h1 {
          font-size: 1.7rem;
          span {
            font-size: 2.3rem;
          }
        }
        .btnbox {
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          .jc,
          .sc {
            width: 80%;
            font-size: 12px;
            margin: 10px;
          }
        }
      }
    }
    .mainboxsc,
    .mainboxjc {
      .nameboxcontainr {
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 286px) {
  body {
    .mainbox {
      .option {
        h1 {
          font-size: 1.2rem;
          span {
            font-size: 2rem;
          }
        }
        .btnbox {
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          .jc,
          .sc {
            width: 90%;
            font-size: 10px;
            margin: 10px;
          }
        }
      }
    }
  }
}
